<app-header></app-header>

<section class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-5xl w-full mx-auto p-5 bg-white shadow-md rounded">
    <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
      <h2 class="text-left text-xl mb-6">Todos os campos com <span class="text-red-700">*</span> são obrigatórios</h2>

      <div class="mb-4 text-left">
        <h3 class="text-lg font-medium text-gray-700">Usuário Logado: {{ userName }}</h3>
      </div>

      <app-step01-cadastro-candidato [googleSheetForm]="googleSheetForm"></app-step01-cadastro-candidato>

      <button type="submit" class="w-full p-2 bg-black text-white h-10 rounded-md">
        Próximo
      </button>
    </form>
  </div>
</section>
