<app-header></app-header>

<section class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-5xl w-full mx-auto p-5 bg-white shadow-md rounded">
    <form [formGroup]="googleSheetForm" (ngSubmit)="onSubmit()">
      <h2 class="text-left text-xl mb-6">Todos os campos com <span class="text-red-700">*</span> são obrigatórios</h2>

      <div class="mb-4 text-left">
        <h3 class="text-lg font-medium text-gray-700">Usuário Logado: {{ userName }}</h3>
      </div>
      <!-- Nome civil ou social completo: -->
      <div class="mb-4">
        <label for="nomeCivil" class="block text-sm font-medium text-gray-700">Nome civil ou social completo:</label>
        <input id="nomeCivil" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="nomeCivil" required>
      </div>
      <!-- Nome de acordo com a receita federal: -->
      <div class="mb-4">
        <label for="nomeReceita" class="block text-sm font-medium text-gray-700">Nome de acordo com a receita federal:</label>
        <input id="nomeReceita" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="nomeReceita" required>
      </div>
      <!-- Título eleitoral: -->
      <div class="mb-4">
        <label for="tituloEleitoral" class="block text-sm font-medium text-gray-700">Título eleitoral:</label>
        <input id="tituloEleitoral" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" placeholder="0000.0000.0000" formControlName="tituloEleitoral" required>
      </div>

      <!-- CPF: -->
      <div class="mb-4">
        <label for="cpf" class="block text-sm font-medium text-gray-700">CPF:</label>
        <input id="cpf" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" placeholder="000.000.000-00" formControlName="cpf" required>
      </div>
      <!-- RG: -->
      <div class="mb-4">
        <label for="rg" class="block text-sm font-medium text-gray-700">RG:</label>
        <input id="rg" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" placeholder="00.000.000-00" formControlName="rg" required>
      </div>
      <!-- Data de Expedição do RG: -->
      <div class="mb-4">
        <label for="dataExpedicaoRg" class="block text-sm font-medium text-gray-700">Data de Expedição do RG:</label>
        <input id="dataExpedicaoRg" matInput type="date" class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="dataExpedicaoRg" required>
      </div>
      <!-- Órgão Expedidor do RG: -->
      <div class="mb-4">
        <label for="orgaoExpedidorRg" class="block text-sm font-medium text-gray-700">Órgão Expedidor do RG:</label>
        <input id="orgaoExpedidorRg" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="orgaoExpedidorRg" required>
      </div>
      <!-- Estado de expedição do RG -->
      <div class="mb-4">
        <label for="estadoExpedicaoRg" class="block text-sm font-medium text-gray-700">Estado de expedição do RG:</label>
        <select id="estadoExpedicaoRg" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="estadoExpedicaoRg" required>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="ES">Espírito Santo</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>
      <!-- Número do documento de entidade de classe, como CREA, OAB -->
      <div class="mb-4">
        <label for="documentoClasse" class="block text-sm font-medium text-gray-700">Número do documento de entidade de classe, como CREA, OAB, ou outros registros válidos:</label>
        <input id="documentoClasse" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="documentoClasse">
      </div>
      <!-- Município de Nascimento -->
      <div class="mb-4">
        <label for="municipioNascimento" class="block text-sm font-medium text-gray-700">Município de Nascimento:</label>
        <input id="municipioNascimento" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="municipioNascimento" required>
      </div>
      <!-- Data de Nascimento -->
      <div class="mb-4">
        <label for="dataNascimento" class="block text-sm font-medium text-gray-700">Data de Nascimento:</label>
        <input id="dataNascimento" matInput type="date" class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="dataNascimento" required>
      </div>
      <!-- Nacionalidade  -->
      <div class="mb-4">
        <label for="nacionalidade" class="block text-sm font-medium text-gray-700">Nacionalidade:</label>
        <input id="nacionalidade" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="nacionalidade" required>
      </div>
      <!-- Nome da mãe -->
      <div class="mb-4">
        <label for="nomeMae" class="block text-sm font-medium text-gray-700">Nome da mãe:</label>
        <input id="nomeMae" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="nomeMae" required>
      </div>
      <!-- Nome do pai -->
      <div class="mb-4">
        <label for="nomePai" class="block text-sm font-medium text-gray-700">Nome do pai:</label>
        <input id="nomePai" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="nomePai">
      </div>
      <!-- É portador(a) de deficiência? -->
      <div class="mb-4 border border-gray-300 p-2 rounded">
        <label class="block text-sm font-medium text-gray-700">É portador(a) de deficiência?</label>
        <div class="flex items-center space-x-4">
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" formControlName="deficiencia" value="nao">
            <span class="ml-2">Não</span>
          </label>
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" formControlName="deficiencia" value="sim">
            <span class="ml-2">Sim</span>
          </label>
        </div>
        <div class="mt-2">
          <label for="qualDeficiencia" class="block text-sm font-medium text-gray-700">Se sim, qual?</label>
          <input id="qualDeficiencia" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="qualDeficiencia">
        </div>
      </div>
      <!-- Telefone 1 -->
      <div class="mb-4">
        <label for="telefone1" class="block text-sm font-medium text-gray-700">Telefone 1:</label>
        <input id="telefone1" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" placeholder="(00) 00000-0000" formControlName="telefone1" required>
      </div>

      <div class="mb-4 border border-gray-300 p-2 rounded">
        <label class="block text-sm font-medium text-gray-700">Aplicativos disponíveis:</label>
        <div class="flex flex-wrap items-center space-x-2">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="telegram">
            <span class="ml-2">Telegram</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="signal">
            <span class="ml-2">Signal</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="wechat">
            <span class="ml-2">WeChat</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="viber">
            <span class="ml-2">Viber</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="skype">
            <span class="ml-2">Skype</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="google_chat">
            <span class="ml-2">Google Chat</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="messenger">
            <span class="ml-2">Messenger</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis" value="whatsapp">
            <span class="ml-2">Whatsapp</span>
          </label>
        </div>
      </div>
      <!-- Telefone 2 -->
      <div class="mb-4">
        <label for="telefone2" class="block text-sm font-medium text-gray-700">Telefone 2:</label>
        <input id="telefone2" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" placeholder="(00) 00000-0000" formControlName="telefone2">
      </div>

      <div class="mb-4 border border-gray-300 p-2 rounded">
        <label class="block text-sm font-medium text-gray-700">Aplicativos disponíveis:</label>
        <div class="flex flex-wrap items-center space-x-2">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="telegram">
            <span class="ml-2">Telegram</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="signal">
            <span class="ml-2">Signal</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="wechat">
            <span class="ml-2">WeChat</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="viber">
            <span class="ml-2">Viber</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="skype">
            <span class="ml-2">Skype</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="google_chat">
            <span class="ml-2">Google Chat</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="messenger">
            <span class="ml-2">Messenger</span>
          </label>
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox" formControlName="appsDisponiveis2" value="whatsapp">
            <span class="ml-2">Whatsapp</span>
          </label>
        </div>
      </div>


      <div class="mb-4">
        <label for="estadoCivil" class="block text-sm font-medium text-gray-700">Estado civil:</label>
        <select id="estadoCivil" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="estadoCivil" required>
          <option value="solteiro">Solteiro(a)</option>
          <option value="casado">Casado(a)</option>
          <option value="separado">Separado(a) judicialmente</option>
          <option value="divorciado">Divorciado(a)</option>
          <option value="viuvo">Viúvo(a)</option>
          <option value="uniaoEstavel">União estável</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="racaCor" class="block text-sm font-medium text-gray-700">Raça/Cor:</label>
        <select id="racaCor" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="racaCor" required>
          <option value="branca">Branca</option>
          <option value="preta">Preta</option>
          <option value="parda">Parda</option>
          <option value="amarela">Amarela</option>
          <option value="indigina">Indígena</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="genero" class="block text-sm font-medium text-gray-700">Gênero:</label>
        <select id="genero" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="genero" required>
          <option value="feminino">Feminino</option>
          <option value="masculino">Masculino</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="identidadeGenero" class="block text-sm font-medium text-gray-700">Identidade de gênero:</label>
        <input id="identidadeGenero" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="identidadeGenero">
      </div>

      <div class="mb-4">
        <label for="grauInstrucao" class="block text-sm font-medium text-gray-700">Grau de instrução:</label>
        <select id="grauInstrucao" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="grauInstrucao" required>
          <option value="analfabeto">Analfabeto(a)</option>
          <option value="fundamental_incompleto">Fundamental incompleto</option>
          <option value="fundamental_completo">Fundamental completo</option>
          <option value="medio_incompleto">Médio incompleto</option>
          <option value="medio_completo">Médio completo</option>
          <option value="superior_incompleto">Superior incompleto</option>
          <option value="superior_completo">Superior completo</option>
          <option value="pos_incompleto">Pós-graduação/Mestrado/Doutorado incompleto</option>
          <option value="pos_completo">Pós-graduação/Mestrado/Doutorado completo</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="ocupacao" class="block text-sm font-medium text-gray-700">Ocupação:</label>
        <select id="ocupacao" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="ocupacao" required>
          <option value="estagiario">Estagiário(a)</option>
          <option value="auxiliar_administrativo">Auxiliar Administrativo</option>
          <option value="agente_servicos_gerais">Agente de Serviços Gerais</option>
          <option value="tecnico_administrativo">Técnico Administrativo</option>
          <option value="assistente_tecnico">Assistente Técnico</option>
          <option value="tecnico_nivel_medio">Técnico de Nível Médio</option>
          <option value="agente_transito">Agente de Trânsito</option>
          <option value="policial_militar">Policial Militar</option>
          <option value="professor_ensino_publico">Professor de Ensino Público</option>
          <option value="tecnico_judiciario">Técnico Judiciário</option>
          <option value="agente_policia_federal">Agente da Polícia Federal</option>
          <option value="analista_administrativo">Analista Administrativo</option>
          <option value="analista_judiciario">Analista Judiciário</option>
          <option value="auditor_fiscal">Auditor Fiscal</option>
          <option value="delegado_policia">Delegado de Polícia</option>
          <option value="procurador">Procurador</option>
          <option value="promotor_justica">Promotor de Justiça</option>
          <option value="juiz">Juiz</option>
          <option value="desembargador">Desembargador</option>
          <option value="diretor_departamento">Diretor de Departamento</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="informarOutros" class="block text-sm font-medium text-gray-700">Informe outros aqui:</label>
        <input id="informarOutros" matInput class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="informarOutros">
      </div>

      <div class="mb-4 border border-gray-300 p-2 rounded">
        <label class="block text-sm font-medium text-gray-700">Ocupou cargo nos últimos 6 meses na administração pública?</label>
        <div class="flex items-center space-x-4">
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" formControlName="adminPublica" value="nao">
            <span class="ml-2">Não</span>
          </label>
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" formControlName="adminPublica" value="sim">
            <span class="ml-2">Sim</span>
          </label>
        </div>
      </div>

      <button type="submit" class="w-full p-2 bg-black text-white h-10 rounded-md">
        Próximo
      </button>
    </form>
  </div>
</section>
