<section [formGroup]="formGroup">
  <label for="ocupacao" class="block text-sm font-medium text-gray-700">Ocupação:</label>
  <select id="ocupacao" matNativeControl class="border border-gray-300 p-2 w-full h-10 rounded-md focus:outline-none focus:ring-0 focus:ring-gray-300 focus:border-gray-300" formControlName="ocupacao" required>
    <option value="estagiario">Estagiário(a)</option>
    <option value="auxiliar_administrativo">Auxiliar Administrativo</option>
    <option value="agente_servicos_gerais">Agente de Serviços Gerais</option>
    <option value="tecnico_administrativo">Técnico Administrativo</option>
    <option value="assistente_tecnico">Assistente Técnico</option>
    <option value="tecnico_nivel_medio">Técnico de Nível Médio</option>
    <option value="agente_transito">Agente de Trânsito</option>
    <option value="policial_militar">Policial Militar</option>
    <option value="professor_ensino_publico">Professor de Ensino Público</option>
    <option value="tecnico_judiciario">Técnico Judiciário</option>
    <option value="agente_policia_federal">Agente da Polícia Federal</option>
    <option value="analista_administrativo">Analista Administrativo</option>
    <option value="analista_judiciario">Analista Judiciário</option>
    <option value="auditor_fiscal">Auditor Fiscal</option>
    <option value="delegado_policia">Delegado de Polícia</option>
    <option value="procurador">Procurador</option>
    <option value="promotor_justica">Promotor de Justiça</option>
    <option value="juiz">Juiz</option>
    <option value="desembargador">Desembargador</option>
    <option value="diretor_departamento">Diretor de Departamento</option>
  </select>
</section>
